* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --hue: 194;
    --page-select-color: white;
    --page-not_select-color: var(--hue), 7%, 78%;
    --text-color: var(--hue), 9%, 89%;
    --button-select: var(--hue), 97%, 31%;

    font-family: 'Roboto', sans-serif;
    
    font-size: clamp(40%, 1% + 2vw, 62.5%);
}

