* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --page-select-color: #FFFFFF;
    --page-not_select-color: #C4C4CC;
    --text-color: #E1E1E6;
    --button-select: #02799D;

    font-family: 'Roboto', sans-serif;
    font-size: clamp(40%, 1% + 2vw, 62.5%);
}

html, body {
    font-family: var(--font-family);

    width: 100%;
    min-height: 100vh; /* garante que sempre cubra a altura visível */
    background-size: cover; /* faz com que a imagem cubra a tela */
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden; /* evita rolagem */
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
    z-index: 1; /* garante que o conteúdo fique acima da imagem de fundo */
}

nav {
    position: fixed;
    width: 100%;
    color: var(--text-color);
    display: flex;
    align-items: center;
    padding: 4rem 72rem 4rem 7.2rem;
    gap: 3.2rem;
    z-index: 1; /* garante que o menu fique acima do conteúdo */
}

nav img {
    width: 5rem;
    height: 4.2rem;
}

nav a {
    color: var(--page-not_select-color);
    text-decoration: none;
    font-weight: bold;
    font-size: 2.4rem;
    white-space: nowrap;
    transition: color 0.3s ease, font-size 0.3s ease;
}

nav a:hover {
    color: var(--page-select-color);
}

nav a:active, nav a.active {
    color: var(--page-select-color);
    font-weight: bold;
}

.text-left {
    text-align: left;
}

h1, p {
    color: var(--page-select-color);
}

h1 {
    font-weight: bold;
    font-size: 4.8rem;
}

p {
    font-weight: 400;
    font-size: 1.8rem;
}

button {
    color: var(--page-select-color);
    border-radius: 0.5rem;
    padding: 1.2rem 3.2rem;
    font-size: 1.4rem;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 1;
    background-color: transparent;
    border: 2px solid var(--page-select-color);
    text-transform: uppercase;
}

button:hover {
    background-color: var(--page-select-color);
    color: var(--button-select);
}

/*
.page1 h1 {
    margin-bottom: 2.4rem;
}

.page2, .page3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    max-width: 60%;
}

.page2 p, .page3 p {
    word-wrap: break-word;
}

.page2 h1, .page3 h1 {
    margin-bottom: 1.6rem;
}

*/