@import url(../style.css);

body {
    background-image: url(../images/mountains-universe-2.png);
    transition: background-image 3000ms ease-in-out;
}

nav a:nth-child(3) {
    font-weight: 700;
    font-size: 2.4rem;

    color: var(--page-select-color);
}

.content {
    margin-left: 10rem;
    margin-top: 6rem;

    gap: 1.6rem;
    
    animation: rightleft 1000ms 500ms backwards;
}

.content p {
    text-align: justify;
}

@media (max-width: 860px) {
    nav a {
        font-size: 1.8rem;
    }

    nav svg {
        display: none;
    }

    .content {
        padding: 2rem;
        margin: 0 auto;
    }

    .content h1 {
        font-size: 3.6rem;
        text-align: center;
    }

    .content p {
        font-size: 1.6rem;
    }
}